In [ ]:
'''
Handling Missing Values

    - find missing values in a Series
    - find missing values in a DataFrame
    - drop missing values
    - fill in missing values
'''

In [1]:
# imports
import pandas as pd
import numpy as np

In [11]:
# turn off the missing value filter
pd.read_csv('./data/drinks.csv', na_filter=False)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
5,Antigua & Barbuda,102,128,45,4.9,NA
6,Argentina,193,25,221,8.3,SA
7,Armenia,21,179,11,3.8,EU
8,Australia,261,72,212,10.4,OC
9,Austria,279,75,191,9.7,EU
10,Azerbaijan,21,46,5,1.3,EU
11,Bahamas,122,176,51,6.3,NA
12,Bahrain,42,63,7,2.0,AS
13,Bangladesh,0,0,0,0.0,AS
14,Barbados,143,173,36,6.3,NA
15,Belarus,142,373,42,14.4,EU
16,Belgium,295,84,212,10.5,EU
17,Belize,263,114,8,6.8,NA
18,Benin,34,4,13,1.1,AF
19,Bhutan,23,0,0,0.4,AS
20,Bolivia,167,41,8,3.8,SA
21,Bosnia-Herzegovina,76,173,8,4.6,EU
22,Botswana,173,35,35,5.4,AF
23,Brazil,245,145,16,7.2,SA
24,Brunei,31,2,1,0.6,AS
25,Bulgaria,231,252,94,10.3,EU
26,Burkina Faso,25,7,7,4.3,AF
27,Burundi,88,0,0,6.3,AF
28,Cote d'Ivoire,37,1,7,4.0,AF
29,Cabo Verde,144,56,16,4.0,AF
...,...,...,...,...,...,...
163,Suriname,128,178,7,5.6,SA
164,Swaziland,90,2,2,4.7,AF
165,Sweden,152,60,186,7.2,EU
166,Switzerland,185,100,280,10.2,EU
167,Syria,5,35,16,1.0,AS
168,Tajikistan,2,15,0,0.3,AS
169,Thailand,99,258,1,6.4,AS
170,Macedonia,106,27,86,3.9,EU
171,Timor-Leste,1,1,4,0.1,AS
172,Togo,36,2,19,1.3,AF
173,Tonga,36,21,5,1.1,OC
174,Trinidad & Tobago,197,156,7,6.4,NA
175,Tunisia,51,3,20,1.3,AF
176,Turkey,51,22,7,1.4,AS
177,Turkmenistan,19,71,32,2.2,AS
178,Tuvalu,6,41,9,1.0,OC
179,Uganda,45,9,0,8.3,AF
180,Ukraine,206,237,45,8.9,EU
181,United Arab Emirates,16,135,5,2.8,AS
182,United Kingdom,219,126,195,10.4,EU
183,Tanzania,36,6,1,5.7,AF
184,USA,249,158,84,8.7,NA
185,Uruguay,115,35,220,6.6,SA
186,Uzbekistan,25,101,8,2.4,AS
187,Vanuatu,21,18,11,0.9,OC
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

In [3]:
# keep the missing values (for demonstration purposes)
drinks = pd.read_csv('./data/drinks.csv')

In [4]:
# set more values to NaN (for demonstration purposes)
drinks.loc[192, 'beer_servings':'wine_servings'] = np.nan

In [9]:
drinks.shape

(193, 6)

In [12]:
# missing values are often just excluded
drinks.describe(include='all')              # excludes missing values
drinks.continent.value_counts(dropna=False) # includes missing values (new in pandas 0.14.1)

AF     53
EU     45
AS     44
NaN    23
OC     16
SA     12
Name: continent, dtype: int64

In [13]:
drinks.describe(include='all')

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
count,193,192.000000,192.000000,192.0000,193.000000,170
unique,193,NaN,NaN,NaN,NaN,5
top,Mexico,NaN,NaN,NaN,NaN,AF
freq,1,NaN,NaN,NaN,NaN,53
mean,NaN,106.380208,81.322917,49.6875,4.717098,NaN
std,NaN,101.361394,88.397069,79.8379,3.773298,NaN
min,NaN,0.000000,0.000000,0.0000,0.000000,NaN
25%,NaN,20.000000,4.000000,1.0000,1.300000,NaN
50%,NaN,76.000000,56.500000,8.5000,4.200000,NaN
75%,NaN,189.000000,128.750000,59.7500,7.200000,NaN
max,NaN,376.000000,438.000000,370.0000,14.400000,NaN

In [19]:
# find missing values in a Series
drinks.continent.isnull()           # True if NaN, False otherwise
drinks.continent.notnull()          # False if NaN, True otherwise
drinks[drinks.continent.notnull()]  # only show rows where continent is not NaN
drinks.continent.isnull().sum()     # count the missing values

23

In [20]:
# find missing values in a DataFrame
drinks.isnull()             # DataFrame of booleans
drinks.isnull().sum()       # calculate the sum of each column

country                          0
beer_servings                    1
spirit_servings                  1
wine_servings                    1
total_litres_of_pure_alcohol     0
continent                       23
dtype: int64

In [ ]:
# drop missing values
drinks.dropna()             # drop a row if ANY values are missing
drinks.dropna(how='all')    # drop a row only if ALL values are missing

In [21]:
# fill in missing values
drinks.continent.fillna(value='NA')                 # does not modify 'drinks'
drinks.continent.fillna(value='NA', inplace=True)   # modifies 'drinks' in-place
drinks.fillna(drinks.mean())                        # fill in missing values using mean

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0.000000,0.000000,0.0000,0.0,AS
1,Albania,89.000000,132.000000,54.0000,4.9,EU
2,Algeria,25.000000,0.000000,14.0000,0.7,AF
3,Andorra,245.000000,138.000000,312.0000,12.4,EU
4,Angola,217.000000,57.000000,45.0000,5.9,AF
5,Antigua & Barbuda,102.000000,128.000000,45.0000,4.9,NA
6,Argentina,193.000000,25.000000,221.0000,8.3,SA
7,Armenia,21.000000,179.000000,11.0000,3.8,EU
8,Australia,261.000000,72.000000,212.0000,10.4,OC
9,Austria,279.000000,75.000000,191.0000,9.7,EU
10,Azerbaijan,21.000000,46.000000,5.0000,1.3,EU
11,Bahamas,122.000000,176.000000,51.0000,6.3,NA
12,Bahrain,42.000000,63.000000,7.0000,2.0,AS
13,Bangladesh,0.000000,0.000000,0.0000,0.0,AS
14,Barbados,143.000000,173.000000,36.0000,6.3,NA
15,Belarus,142.000000,373.000000,42.0000,14.4,EU
16,Belgium,295.000000,84.000000,212.0000,10.5,EU
17,Belize,263.000000,114.000000,8.0000,6.8,NA
18,Benin,34.000000,4.000000,13.0000,1.1,AF
19,Bhutan,23.000000,0.000000,0.0000,0.4,AS
20,Bolivia,167.000000,41.000000,8.0000,3.8,SA
21,Bosnia-Herzegovina,76.000000,173.000000,8.0000,4.6,EU
22,Botswana,173.000000,35.000000,35.0000,5.4,AF
23,Brazil,245.000000,145.000000,16.0000,7.2,SA
24,Brunei,31.000000,2.000000,1.0000,0.6,AS
25,Bulgaria,231.000000,252.000000,94.0000,10.3,EU
26,Burkina Faso,25.000000,7.000000,7.0000,4.3,AF
27,Burundi,88.000000,0.000000,0.0000,6.3,AF
28,Cote d'Ivoire,37.000000,1.000000,7.0000,4.0,AF
29,Cabo Verde,144.000000,56.000000,16.0000,4.0,AF
...,...,...,...,...,...,...
163,Suriname,128.000000,178.000000,7.0000,5.6,SA
164,Swaziland,90.000000,2.000000,2.0000,4.7,AF
165,Sweden,152.000000,60.000000,186.0000,7.2,EU
166,Switzerland,185.000000,100.000000,280.0000,10.2,EU
167,Syria,5.000000,35.000000,16.0000,1.0,AS
168,Tajikistan,2.000000,15.000000,0.0000,0.3,AS
169,Thailand,99.000000,258.000000,1.0000,6.4,AS
170,Macedonia,106.000000,27.000000,86.0000,3.9,EU
171,Timor-Leste,1.000000,1.000000,4.0000,0.1,AS
172,Togo,36.000000,2.000000,19.0000,1.3,AF
173,Tonga,36.000000,21.000000,5.0000,1.1,OC
174,Trinidad & Tobago,197.000000,156.000000,7.0000,6.4,NA
175,Tunisia,51.000000,3.000000,20.0000,1.3,AF
176,Turkey,51.000000,22.000000,7.0000,1.4,AS
177,Turkmenistan,19.000000,71.000000,32.0000,2.2,AS
178,Tuvalu,6.000000,41.000000,9.0000,1.0,OC
179,Uganda,45.000000,9.000000,0.0000,8.3,AF
180,Ukraine,206.000000,237.000000,45.0000,8.9,EU
181,United Arab Emirates,16.000000,135.000000,5.0000,2.8,AS
182,United Kingdom,219.000000,126.000000,195.0000,10.4,EU
183,Tanzania,36.000000,6.000000,1.0000,5.7,AF
184,USA,249.000000,158.000000,84.0000,8.7,NA
185,Uruguay,115.000000,35.000000,220.0000,6.6,SA
186,Uzbekistan,25.000000,101.000000,8.0000,2.4,AS
187,Vanuatu,21.000000,18.000000,11.0000,0.9,OC
188,Venezuela,333.000000,100.000000,3.0000,7.7,SA
189,Vietnam,111.000000,2.000000,1.0000,2.0,AS
190,Yemen,6.000000,0.000000,0.0000,0.1,AS
191,Zambia,32.000000,19.000000,4.0000,2.5,AF
192,Zimbabwe,106.380208,81.322917,49.6875,4.7,AF